#Rock, #Paper, #Scissors, #Start{
    height: 150px;
    width: 150px;
    font-size:60px;
    border-radius: 100px;
    border-style: none;
}

 #Start:hover{
    background-color:aqua ;
} 

#Rock:hover{
    background-color:aqua ;
} 

#Paper:hover{
    background-color:aqua ;
} 

#Scissors:hover{
    background-color:aqua ;
} 

#Restart:hover{
    background-color:aqua ;
} 

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btns{
margin-top: 300px;
}